@import 'tailwindcss';


@font-face {
    font-family: 'JetBrains Mono';
    font-size: 100 900;
    src: url( ./assets/JetBrainsMono.woff2 ) format( 'woff2' );
}

@theme {
    --font-mono: 'JetBrains Mono', monospace;
    --color-alu-green: #00ff41;
    --color-alu-blue: #00f0ff;
    --color-alu-pink: #ff00ff;
    --color-alu-yellow: #ffff00;
    --color-alu-bg: #000000;
    --color-alu-white: #ffffff;
}

@layer base {
    body {
        @apply bg-alu-bg text-alu-white font-mono selection:bg-alu-yellow selection:text-black cursor-none overflow-x-hidden;
    }

    *, *::before, *::after {
        cursor: none !important;
    }
}

@layer utilities {
    .brutalist-border {
        @apply border-4 border-alu-white;
    }

    .brutalist-shadow {
        box-shadow: 8px 8px 0px 0px rgba( 255 255 255 / 1 );
    }

    .brutalist-shadow-green {
        box-shadow: 8px 8px 0px 0px #00ff41;
    }

    .brutalist-shadow-blue {
        box-shadow: 8px 8px 0px 0px #00f0ff;
    }

    .brutalist-shadow-pink {
        box-shadow: 8px 8px 0px 0px #f0f;
    }

    .brutalist-shadow-yellow {
        box-shadow: 8px 8px 0px 0px #ff0;
    }

    .scanline {
        background: linear-gradient( to bottom, transparent 50%, rgba( 0 0 0 / 0.5 ) 50% );
        background-size: 100% 2px;
        pointer-events: none;
    }
}

* {
    @apply rounded-none;
}

/* Custom Cursor */

.custom-cursor {
    pointer-events: none;
    position: fixed;
    transform: translate( -50%, -50% );
    z-index: 9999;
    width: 24px;
    height: 24px;
    background: #ffffff;
    mix-blend-mode: difference;
}

.custom-cursor::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 2px;
    height: 20px;
    background: #000;
}

.custom-cursor::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 20px;
    height: 2px;
    background: #000;
}
